.heading1{
    color:greenyellow;
} 
.h4{
    background:rgb(216, 139, 175);
    border:1px solid red;
    padding:5px 10px;
}
.heading5{
    background: rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.heading6{
    color:salmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/*div{
    background-color: palegoldenrod;

}*/
#bg-img{
 background-image: url("../images/pexels-andrea-piacquadio-3771836.jpg");
 background-size: cover;
 background-repeat: no-repeat;   
}
.fonts
{
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boxmodel
{
    height:100px;
    width:100px;
    padding:30px;
    margin:30px;
    border:1px solid red;
    background: #000;
    color:white;
    text-align: center;
}
.formatting-text
{
    text-align:center;
    text-transform:capitalize;
}
.formatting-text a
{
      text-decoration: none;
}
.float
{
    float:right;
}
.floatleft
{
    float:left;
}
.floatright
{
    float:right;
}
.width50{
    width:50%;
}
.clear
{
    clear:both;
}
.but-style
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:violet;
  color:purple;
  border-radius: 10px 20px 20px 20px;
  border: 5px solid red;
}
.flex-container
{
    display:flex;
    flex-direction:row;/*row=123,row-reverse=321*/
    justify-content:space-around;
}
.flex-container div
{
    margin:20px;
}
